# PyCity Schools Analysis

- Your analysis here

---

In [ ]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("/content/drive/MyDrive/Resources/schools_complete.csv")
student_data_to_load = Path("/content/drive/MyDrive/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [ ]:
# Calculate the total number of unique schools
school_count = len(school_data.school_name.tolist())
school_count

15

In [ ]:
# Calculate the total number of students
student_count = len(student_data.student_name.tolist())
student_count

39170

In [ ]:
# Calculate the total budget
total_budget = sum(school_data.budget.tolist())
total_budget

24649428

In [ ]:
# Calculate the average (mean) math score
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [ ]:
# Calculate the average (mean) reading score
average_reading_score =school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [ ]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [ ]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [ ]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [ ]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
    [{"Total Schools": school_count,
      "Total Students": student_count,
      "Total Budget": total_budget,
      "Average Math Score": average_math_score,
      "Average Reading Score": average_reading_score,
      "% Passing Math": passing_math_percentage,
      "% Passing Reading": passing_reading_percentage,
      "% Overall Passing": overall_passing_rate}])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [ ]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [ ]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [ ]:
# Calculate the total school budget and per capita spending per school from school_data

## Austin Comment - school_data dosent have a spending column, they only have a budget column

per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [ ]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()
per_school_math
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[
    (school_data_complete["math_score"] >= 70)
]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70)
]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts.iloc[0],
    "Total School Budget": per_school_budget.iloc[0],
    "Per Student Budget": per_school_capita.iloc[0],
    "Average Math Score": per_school_math.iloc[0],
    "Average Reading Score": per_school_reading.iloc[0],
    "% Passing Math": per_school_passing_math.iloc[0],
    "% Passing Reading": per_school_passing_reading.iloc[0],
    "% Overall Passing": overall_passing_rate.iloc[0]
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Figueroa High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Shelton High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Hernandez High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Griffin High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Wilson High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Cabrera High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Bailey High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Holden High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Pena High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Wright High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Rodriguez High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Johnson High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Ford High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Thomas High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Figueroa High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Shelton High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Hernandez High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Griffin High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Figueroa High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Shelton High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Hernandez High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283
Griffin High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grader_math_scores.iloc[0],
    "11th": eleventh_grader_math_scores.iloc[0],
    "12th": twelfth_grader_math_scores.iloc[0]
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  76.996772  77.515588  76.492218
Figueroa High School   76.403037  76.996772  77.515588  76.492218
Ford High School       77.361345  76.996772  77.515588  76.492218
Griffin High School    82.044010  76.996772  77.515588  76.492218
Hernandez High School  77.438495  76.996772  77.515588  76.492218
Holden High School     83.787402  76.996772  77.515588  76.492218
Huang High School      77.027251  76.996772  77.515588  76.492218
Johnson High School    77.187857  76.996772  77.515588  76.492218
Pena High School       83.625455  76.996772  77.515588  76.492218
Rodriguez High School  76.859966  76.996772  77.515588  76.492218
Shelton High School    83.420755  76.996772  77.515588  76.492218
Thomas High School     83.590022  76.996772  77.515588  76.492218
Wilson High School     83.085578  76.996772  77.515588  76.492218
Wright High School     83.264706  76.996772  77.515588  76.492218

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grader_reading_scores.iloc[0],
    "11th": eleventh_grader_reading_scores.iloc[0],
    "12th": twelfth_grader_reading_scores.iloc[0]
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  80.907183  80.945643  80.912451
Figueroa High School   81.198598  80.907183  80.945643  80.912451
Ford High School       80.632653  80.907183  80.945643  80.912451
Griffin High School    83.369193  80.907183  80.945643  80.912451
Hernandez High School  80.866860  80.907183  80.945643  80.912451
Holden High School     83.677165  80.907183  80.945643  80.912451
Huang High School      81.290284  80.907183  80.945643  80.912451
Johnson High School    81.260714  80.907183  80.945643  80.912451
Pena High School       83.807273  80.907183  80.945643  80.912451
Rodriguez High School  80.993127  80.907183  80.945643  80.912451
Shelton High School    84.122642  80.907183  80.945643  80.912451
Thomas High School     83.728850  80.907183  80.945643  80.912451
Wilson High School     83.939778  80.907183  80.945643  80.912451
Wright High School     83.833333  80.907183  80.945643  80.912451

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Per Student Budget"] = pd.to_numeric(school_spending_df["Per Student Budget"].replace({'\$': '', ',': ''}, regex=True))
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Figueroa High School,District,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Shelton High School,Charter,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Hernandez High School,District,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Griffin High School,Charter,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Wilson High School,Charter,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Cabrera High School,Charter,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Bailey High School,District,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Holden High School,Charter,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Pena High School,Charter,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Wright High School,Charter,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Rodriguez High School,District,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Johnson High School,District,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Ford High School,District,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680
Thomas High School,Charter,2917,"$1,910,635.00",655.0,77.048432,81.033963,66.680064,81.93328,54.642283,$645-680

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
$645-680,77.048432,81.033963,66.680064,81.93328,54.642283

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(school_size_df["Total Students"], bins=size_bins, labels=labels)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Figueroa High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Shelton High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Hernandez High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Griffin High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Wilson High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Cabrera High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Bailey High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Holden High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Pena High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Wright High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Rodriguez High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Johnson High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Ford High School,District,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)
Thomas High School,Charter,2917,"$1,910,635.00",$655.00,77.048432,81.033963,66.680064,81.93328,54.642283,Large (2000-5000)

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Large (2000-5000),77.048432,81.033963,66.680064,81.93328,54.642283

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
})

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,77.048432,81.033963,66.680064,81.93328,54.642283
District,77.048432,81.033963,66.680064,81.93328,54.642283